

.cajasdetexto{

  margin-top: 15px;
  
  border: 1px solid steelblue;
  width: 250px;
  
} 

.radio{
  margin-top: 10px;

  
}
h5{
  width: 400px;
  text-align: left;
}



.card-header{

  text-align: center;
  background-color: steelblue;
}

#tipo_id{
  text-align: center;
}
#datos-p-2{
  float: left;
}

.col-md-3{

  float: left;
  padding: auto 10px;
  
}








