
body{
  
}

p{
  font-size: 15px;


}


.cajasdetexto{

  margin-top: 15px;
  
  border: 1px solid steelblue;
  width: 250px;
  
} 

.cajasdetexto2{
  margin-top: 15px;
  border: 1px solid steelblue;
  width: 200px;


}






.radio{
  margin-top: 10px;

  
}
h5{
  width: 400px;
  text-align: left;
  size: 20px;
}

.input-group{
  margin-top: 15px;
  border: 1px solid steelblue;

  
  


}


#titulo{

  text-align: center;
  background: steelblue;

}

#tipo_id{
  text-align: center;
}


.col-md-3{

  float: left;
  padding: auto 10px;
  
}
.cajas{
  border: 1px solid steelblue;
  width: 500px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;



}

/* las tarjetas van aquí :) */
#card-css{

  border: 3px solid slategrey;
}

#card-css2{
  margin-top: 45px;
  border: 3px solid slategrey;
  

}

#body2{
  padding-left:  40px;
  padding-right: 40px;
}



.card{

  width: 100%;
  
}

table{

  padding: 15px;
  width: 100%;
  height: 50%
  
  
  }
  td {
    text-align: left;
    width: 15px;
    
  }
   th, td{
  
    padding: 15px;
    text-align: center;
    border: 1px solid black;
  }
   th {
    background: cadetblue;
  }
  #titulo-tabla{
    text-align: center;
  }


  
  








