

.cajasdetexto{

  margin-top: 15px;
  
  border: 1px solid steelblue;
  width: 250px;
  
} 

.cajasdetexto2{
  margin-top: 15px;
  border: 1px solid steelblue;
  width: 200px;


}

#card{

  border: 3px solid slategrey;
}

.radio{
  margin-top: 10px;

  
}
h5{
  width: 400px;
  text-align: left;
  size: 20px;
}

.input-group{
  margin-top: 15px;
  border: 1px solid steelblue;

  
  


}


#titulo{

  text-align: center;
  background: steelblue;

}

#tipo_id{
  text-align: center;
}


.col-md-3{

  float: left;
  padding: auto 10px;
  
}
.cajas{
  border: 1px solid steelblue;
  width: 500px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;



}


.card{

  width: 100%;
}








